.mainPage .desktop-message {
  display: none;
  padding: 40px;
  text-align: center;
  background-color: #e7b464;
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  font-family: "DairyMilkFontMedium";
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 16px;
}
.mainPage .mobile-container {
  display: none;
  margin-top: 70px;
  padding: 0 24px;
}
.mainPage.spalshBody .mobile-container .mainWallpaper {
  position: relative;
}
.mainPage.spalshBody .mobile-container .mainWallpaper.dsNone {
  display: none;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .bgWrap,
.mainPage.spalshBody .mobile-container .mainWallpaper .boxWrap,
.mainPage.spalshBody .mobile-container .mainWallpaper .phoneWrap {
  position: absolute;
  overflow: hidden;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .bgWrap {
  transform: scale(0);
  opacity: 0;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .boxWrap {
  transform: scale(5);
  opacity: 0;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .phoneWrap {
  transform: translate(70%, 35%) scale(2);
  opacity: 0;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .birthdayTextWrap {
  opacity: 0;
  transform: translate(20%, 85%) scale(0);
  flex-flow: column;
  align-items: center;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .birthdayTextWrap .rotating-text {
  font-family: DairyMilkFontMedium, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: white;
  transform: translateX(10px);
  display: flex;
  justify-content: center;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .birthdayTextWrap .rotating-text .classForSpacing {
  min-width: 107px;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .birthdayTextWrap .rotating-text p {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
  margin-right: 8px;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .birthdayTextWrap .rotating-text p .word {
  position: absolute;
  display: flex;
  opacity: 0;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .birthdayTextWrap .rotating-text p .word .letter {
  transform-origin: center center 25px;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .birthdayTextWrap .rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.mainPage.spalshBody .mobile-container .mainWallpaper .birthdayTextWrap .rotating-text p .word .letter.in {
  transition: 0.38s ease;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .birthdayTextWrap .rotating-text p .word .letter.behind {
  transform: rotateX(-90deg);
}
.mainPage.spalshBody .mobile-container .mainWallpaper .birthdayTextWrap .rotating-text .alizarin {
  color: #e74c3c;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .birthdayTextWrap .rotating-text .wisteria {
  color: #8e44ad;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .birthdayTextWrap .rotating-text .peter-river {
  color: #3498db;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .birthdayTextWrap .rotating-text .emerald {
  color: #2ecc71;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .birthdayTextWrap .rotating-text .sun-flower {
  color: #f1c40f;
}
.mainPage.spalshBody .mobile-container .mainWallpaper .birthdayTextWrap .textImagewrap {
  max-height: 100px;
  position: absolute;
  top: 44px;
}
.mainPage.spalshBody.loaded .mobile-container .mainWallpaper .bgWrap {
  transform: scale(1);
  opacity: 1;
  transition: transform 1s ease 5s, opacity 1s ease 5s;
}
.mainPage.spalshBody.loaded .mobile-container .mainWallpaper .boxWrap {
  transform: scale(1);
  opacity: 1;
  transition: transform 2s ease 1s, opacity 1s ease 1s;
}
.mainPage.spalshBody.loaded .mobile-container .mainWallpaper .phoneWrap {
  transform: translate(60vw, 25vh) scale(0.4);
  opacity: 1;
  transition: transform 2s ease 4s, opacity 1s ease 5s;
  left: -30vw;
  top: -30vw;
}
.mainPage.spalshBody.loaded .mobile-container .mainWallpaper .birthdayTextWrap {
  position: absolute;
  opacity: 1;
  transform: translate(20%, 75%) scale(0.9);
  transition: transform 2s ease 3s, opacity 1s ease 2s;
  top: -50%;
  left: -50%;
}
.mainPage.contactBody .mobile-container {
  display: block;
  max-height: calc(100vh - 70px);
  overflow: scroll;
}
.mainPage.contactBody .mobile-container h1 {
  color: green;
  transition: color 10s ease;
}
.mainPage.contactBody .mobile-container .progressBarWrapper {
  max-width: 360px;
  margin: auto;
  padding: 40px;
  padding-bottom: 0;
}
.mainPage.contactBody .mobile-container .progressBarWrapper ul {
  display: flex;
  justify-content: space-between;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}
.mainPage.contactBody .mobile-container .progressBarWrapper ul li {
  width: 14px;
  height: 14px;
  background: none;
  border-radius: 50%;
  list-style: none;
  border: 2px solid;
  border-color: #fff;
}
.mainPage.contactBody .mobile-container .progressBarWrapper ul li.doneProg {
  background: #f3cb7f;
  border-color: #f3cb7f;
  transition: background 2s ease, border-color 1s ease;
}
.mainPage.contactBody .mobile-container .progressBarWrapper ul li.activeProg {
  border-color: #f3cb7f;
  transition: border-color 1s ease;
}
.mainPage.contactBody .mobile-container .middleContent .firstMainContainer,
.mainPage.contactBody .mobile-container .middleContent .secondMainContainer,
.mainPage.contactBody .mobile-container .middleContent .thirdMainContainer,
.mainPage.contactBody .mobile-container .middleContent .fourthMainContainer,
.mainPage.contactBody .mobile-container .middleContent .fifthMainContainer,
.mainPage.contactBody .mobile-container .middleContent .sixthMainContainer,
.mainPage.contactBody .mobile-container .middleContent .seventhMainContainer {
  max-width: 360px;
  margin: auto;
}
.mainPage.contactBody .mobile-container .middleContent .firstMainContainer.hiddenCont,
.mainPage.contactBody .mobile-container .middleContent .secondMainContainer.hiddenCont,
.mainPage.contactBody .mobile-container .middleContent .thirdMainContainer.hiddenCont,
.mainPage.contactBody .mobile-container .middleContent .fourthMainContainer.hiddenCont,
.mainPage.contactBody .mobile-container .middleContent .fifthMainContainer.hiddenCont,
.mainPage.contactBody .mobile-container .middleContent .sixthMainContainer.hiddenCont,
.mainPage.contactBody .mobile-container .middleContent .seventhMainContainer.hiddenCont {
  display: none;
  opacity: 0;
  transition: transform 10s ease, opacity 2s ease;
}
.mainPage.contactBody .mobile-container .middleContent .firstMainContainer.activeCont,
.mainPage.contactBody .mobile-container .middleContent .secondMainContainer.activeCont,
.mainPage.contactBody .mobile-container .middleContent .thirdMainContainer.activeCont,
.mainPage.contactBody .mobile-container .middleContent .fourthMainContainer.activeCont,
.mainPage.contactBody .mobile-container .middleContent .fifthMainContainer.activeCont,
.mainPage.contactBody .mobile-container .middleContent .sixthMainContainer.activeCont,
.mainPage.contactBody .mobile-container .middleContent .seventhMainContainer.activeCont {
  display: block;
  opacity: 1;
  transition: all 1s ease;
}
.mainPage.contactBody .mobile-container .middleContent .firstMainContainer .imgWallpaperWrap {
  width: 0px;
  max-width: 360px;
  margin: auto;
}
.mainPage.contactBody .mobile-container .middleContent .firstMainContainer.activeCont .imgWallpaperWrap {
  width: 3500px;
  max-width: 360px;
  margin: auto;
  transition: all 10s ease 10s;
}
.mainPage.infoBody .mobile-container {
  display: block;
  max-height: calc(100vh - 70px);
  overflow: scroll;
}
.mainPage.infoBody .mobile-container h1 {
  color: yellow;
}
.mainPage.designSystem .mobile-container {
  display: block;
  max-height: calc(100vh - 70px);
  overflow: scroll;
}
.mainPage.designSystem .mobile-container h1 {
  color: yellow;
}

#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  /* OBJECTS */
}
#background-wrap .bubble {
  opacity: 0.05;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
  height: 200px;
  position: absolute;
  width: 200px;
}
#background-wrap .bubble:after {
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(70%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#80ffffff", endColorstr="#00ffffff", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  content: "";
  height: 180px;
  left: 10px;
  position: absolute;
  width: 180px;
}
#background-wrap .bubble.x1 {
  -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}
#background-wrap .bubble.x2 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 5%;
  top: 80%;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}
#background-wrap .bubble.x3 {
  -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 10%;
  top: 40%;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
}
#background-wrap .bubble.x4 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 20%;
  top: 0;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

/* KEYFRAMES */
@-webkit-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}
@-moz-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}
@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}
@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
@-moz-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
header#nav {
  position: fixed;
  top: -88px;
  z-index: 100;
  width: 100%;
  background-color: #330072;
  height: 75px;
}
header#nav #menuWrapper {
  height: auto;
  display: block;
  background: url(../assets/img/1bb.png);
  background-color: #2a005a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  position: relative;
  opacity: 1;
  left: 40%;
  top: -30px;
}

.contained {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 13px;
}

#logo {
  display: inline-block;
  min-width: 100%;
  margin-right: 30px;
  height: 70px;
  padding: 0 0 0 15px;
  position: absolute;
  top: 0;
  left: 0;
  background: #330072;
  transition: all 0.9s ease;
}
#logo a {
  min-height: 68px;
  max-width: 250px;
  display: block;
  background: url(./img/logo.png) no-repeat;
  background-position: center;
  background-size: contain;
}

#hamburger {
  display: none;
  width: 25px;
  height: 24px;
  position: fixed;
  right: 15px;
  top: 24px;
  cursor: pointer;
}
#hamburger > span {
  background: #fff;
  display: block;
  width: 100%;
  height: 3px;
  position: relative;
  margin-top: 3px;
  color: #fff;
  transition: all 0.3s ease;
}
#hamburger:hover > span {
  background: rgba(250, 250, 250, 0.5);
}
#hamburger:hover > span::after {
  background: rgba(250, 250, 250, 0.5);
}
#hamburger:hover > span::before {
  background: rgba(250, 250, 250, 0.5);
}

#close {
  position: fixed;
  top: 16px;
  right: 13px;
  width: 30px;
  height: 30px;
  z-index: 1200;
  display: none;
  cursor: pointer;
}
#close > span {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background: #eee;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  transform: rotate(45deg);
}
#close > span::after {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background: #eee;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  transform: rotate(45deg);
  transform: rotate(-90deg);
}
#close:hover > span {
  background: #ccc;
}
#close:hover > span::after {
  background: #ccc;
}

@media only screen and (min-width: 320px) {
  #hamburger {
    display: block;
    transition: all 0.3s ease;
    transform: translateY(0);
  }

  #close {
    transition: all 0.3s ease;
    transform: translateX(50px);
    display: block;
    border-radius: 50%;
    transition: transform 1s ease, border 2s ease;
  }

  header#nav {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1005;
    height: 50px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #330072;
  }
  header#nav ul {
    display: none;
    opacity: 0;
  }
  header#nav .contained {
    height: 50px;
  }

  header#nav.showNav {
    background-color: transparent;
    height: 100%;
  }
  header#nav.showNav .contained {
    height: auto;
  }
  header#nav.showNav #logo {
    background: #14111799;
    backdrop-filter: blur(5px);
    height: 100vh;
  }
  header#nav.showNav ul {
    opacity: 1;
    display: block;
    padding-top: 16vh;
    color: #fff;
    list-style: none;
    padding-left: 0;
  }
  header#nav.showNav ul li {
    text-align: right;
    width: 215px;
    max-width: 215px;
    font-family: "Gibson";
    font-size: 16px;
    font-weight: 900;
    padding: 31px 18px;
    box-shadow: inset #32016a 0 -2px 0 0px, inset #52208a 0 -4px 0 0px;
  }
  header#nav.showNav ul li:nth-child(1) {
    box-shadow: inset #32016a 0 -2px 0 0px, inset #52208a 0 -4px 0 0px, #32016a 0 -2px 0 0px, #52208a 0 -4px 0 0px;
  }
  header#nav.showNav #hamburger {
    transform: translateX(50px);
  }
  header#nav.showNav #close {
    transform: translateX(0);
  }

  header .contained {
    padding-top: 5px;
  }
}
.mainFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -24px;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 16px;
}
.mainFooter.hideFooter {
  display: none;
}
.mainFooter.footerBg {
  background: #00000017;
  backdrop-filter: blur(10px);
}
.mainFooter .firstMainContBtn.btnBlockShow,
.mainFooter .secondMainContBtn.btnBlockShow,
.mainFooter .thirdMainContBtn.btnBlockShow,
.mainFooter .fourthMainContBtn.btnBlockShow,
.mainFooter .fifthMainContBtn.btnBlockShow,
.mainFooter .sixthMainContBtn.btnBlockShow,
.mainFooter .seventhMainContBtn.btnBlockShow {
  display: block;
  opacity: 1;
  transition: opacity 1s ease;
}
.mainFooter .firstMainContBtn.btnBlockHide,
.mainFooter .secondMainContBtn.btnBlockHide,
.mainFooter .thirdMainContBtn.btnBlockHide,
.mainFooter .fourthMainContBtn.btnBlockHide,
.mainFooter .fifthMainContBtn.btnBlockHide,
.mainFooter .sixthMainContBtn.btnBlockHide,
.mainFooter .seventhMainContBtn.btnBlockHide {
  display: none;
  opacity: 0;
  transition: opacity 1s ease;
}

.main_modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
.main_modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: none;
}
.main_modal .modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.main_modal .modal-content .close:hover, .main_modal .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

form input {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
