


.mainPage {


    // .loaded class use dynamic for onload



    // desktop css
    .desktop-message {
        display: none;
        text-align: center;
        padding: 20px;
        background-color: #e74c3c;
        color: white;
        font-size: 18px;
        font-weight: bold;
    }


    // Mobile css
    .mobile-container {
        display: none;
        max-width: 540px;
        margin: auto;
        padding: 20px;

        .blurView {
            //         position: absolute;
            // background: #8c2ef600;
            // height: 391px;
            // width: 100%;
            // box-shadow: -20px 1px 20px 0px #2f0368;
            // top: 0;
            // left: 0;
            // z-index: -5;
            // opacity: 0.2;
        }
    }


    /////////////////////////////////////////
    //spalshBody page
    &.spalshBody {
        .mobile-container {
          
            .mainWallpaper {
              &.dsNone{
                display: none;
              }
                position: relative;

                .bgWrap,
                .boxWrap,
                .phoneWrap {
                    position: absolute;
                  //  max-height: 400px;
                    overflow: hidden;
                }

                .bgWrap {
                    //transform: rotate3d(1, 1, 1, 360deg);
                    transform: scale(0);
                    opacity: 0;
               
                }

                .boxWrap {
                    transform: scale(5);
                    opacity: 0;
                    // transition: opacity 1s ease 10s;
                    
                }
               .phoneWrap{
                transform: translate(70%, 35%) scale(2);
                opacity: 0;

               }

               .birthdayTextWrap{
                opacity: 0;
                transform: translate(20%, 85%) scale(0);
                flex-flow: column;
    align-items: center;

  .rotating-text {
    font-family: DairyMilkFontMedium, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: white;
    transform: translateX(10px);
    display: flex;
    justify-content: center;
  .classForSpacing{
    min-width: 107px;
  }
    p {
      display: inline-flex;
      margin: 0;
      vertical-align: top;
  margin-right: 8px;
      .word {
        position: absolute;
        display: flex;
        opacity: 0;
  
        .letter {
          transform-origin: center center 25px;
  
          &.out {
            transform: rotateX(90deg);
            transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
          }
          &.in {
            transition: 0.38s ease;
          }
          &.behind {
            transform: rotateX(-90deg);
          }
        }
      }
    }

    .alizarin {
        color: #e74c3c;
      }
      
      .wisteria {
        color: #8e44ad;
      }
      
      .peter-river {
        color: #3498db;
      }
      
      .emerald {
        color: #2ecc71;
      }
      
      .sun-flower {
        color: #f1c40f;
      }
  }
  
  .textImagewrap{
    max-height: 100px;
    position: absolute;
    top: 44px;
  }
               }
            }

          
        }

    //loded css used for animations
        &.loaded {
            .mobile-container {
              
                .mainWallpaper {

                 
                    .bgWrap {
                        // animation-name: bgrotationBox;
                        // animation-duration: 0.5s;
                        // animation-timing-function: ease-in;
                        transform: scale(1);
                        opacity: 1;
                         transition: transform 1s ease 5s, opacity 1s ease 5s; 
                    }

                    .boxWrap {
                        transform: scale(1);
                        opacity: 1;
                        transition: transform 2s ease 1s, opacity 1s ease 1s;
                       // animation-direction:reverse;
                    }

                    .phoneWrap {
                        transform: translate(60vw, 25vh) scale(0.4);
                        opacity: 1;
                        transition: transform 2s ease 4s, opacity 1s ease 5s;
                        left: -30vw;
                        top: -30vw;
                    }

                    .birthdayTextWrap{
                        position: absolute;
                        opacity: 1;
                        transform: translate(20%, 75%) scale(0.9);
                        transition: transform 2s ease 3s, opacity 1s ease 2s;
                        top: -50%;
                        left: -50%;
                    }
                }
            }
        }
    }



    /////////////////////////////////////////
    //contactBody page
    &.contactBody {

        .mobile-container {
            h1 {
                color: green;
                transition: color 10s ease;

            }
        }
    }



    /////////////////////////////////////////
    //infoBody page
    &.infoBody {
        .mobile-container {
            h1 {
                color: yellow;
            }
        }
    }




}








//animation for bg rotaion main page

// @keyframes bgrotationBox {
//     0%   { transform: rotate3d(1, 1, 1, 240deg)}
//     50%  { transform: rotate3d(1, 1, 1, 270deg)}
//     100% { transform: rotate3d(1, 1, 1, 360deg)}
//   }
