.mainPage {


    //Note!  .loaded class use dynamic for onload



    // desktop css
    .desktop-message {
        display: none;
        padding: 40px;
        text-align: center;
        background-color: #e7b464;
        color: white;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        font-family: 'DairyMilkFontMedium';
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 16px;
    }

    //%%%%%%%%%%%%%%%%%%%%%%%%%%% Css Start Here%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

    // Mobile css for common all pages
    .mobile-container {
        display: none;
        // max-width: 540px;
        margin-top: 70px;
        padding: 0 24px;

        .blurView {
            // position: absolute;
            // background: #8c2ef600;
            // height: 391px;
            // width: 100%;
            // box-shadow: -20px 1px 20px 0px #2f0368;
            // top: 0;
            // left: 0;
            // z-index: -5;
            // opacity: 0.2;
        }
    }


    //%%%%%%%%%%%%%%%%%%%%%%%%%%% Css Start Here%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

    //spalshBody page
    &.spalshBody {
        .mobile-container {

            .mainWallpaper {
                &.dsNone {
                    display: none;
                }

                position: relative;

                .bgWrap,
                .boxWrap,
                .phoneWrap {
                    position: absolute;
                    //  max-height: 400px;
                    overflow: hidden;
                }

                .bgWrap {
                    //transform: rotate3d(1, 1, 1, 360deg);
                    transform: scale(0);
                    opacity: 0;

                }

                .boxWrap {
                    transform: scale(5);
                    opacity: 0;
                    // transition: opacity 1s ease 10s;

                }

                .phoneWrap {
                    transform: translate(70%, 35%) scale(2);
                    opacity: 0;

                }

                .birthdayTextWrap {
                    opacity: 0;
                    transform: translate(20%, 85%) scale(0);
                    flex-flow: column;
                    align-items: center;

                    .rotating-text {
                        font-family: DairyMilkFontMedium, sans-serif;
                        font-weight: 600;
                        font-size: 24px;
                        color: white;
                        transform: translateX(10px);
                        display: flex;
                        justify-content: center;

                        .classForSpacing {
                            min-width: 107px;
                        }

                        p {
                            display: inline-flex;
                            margin: 0;
                            vertical-align: top;
                            margin-right: 8px;

                            .word {
                                position: absolute;
                                display: flex;
                                opacity: 0;

                                .letter {
                                    transform-origin: center center 25px;

                                    &.out {
                                        transform: rotateX(90deg);
                                        transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
                                    }

                                    &.in {
                                        transition: 0.38s ease;
                                    }

                                    &.behind {
                                        transform: rotateX(-90deg);
                                    }
                                }
                            }
                        }

                        .alizarin {
                            color: #e74c3c;
                        }

                        .wisteria {
                            color: #8e44ad;
                        }

                        .peter-river {
                            color: #3498db;
                        }

                        .emerald {
                            color: #2ecc71;
                        }

                        .sun-flower {
                            color: #f1c40f;
                        }
                    }

                    .textImagewrap {
                        max-height: 100px;
                        position: absolute;
                        top: 44px;
                    }
                }
            }


        }

        //loded css used for animations
        &.loaded {
            .mobile-container {

                .mainWallpaper {


                    .bgWrap {
                        // animation-name: bgrotationBox;
                        // animation-duration: 0.5s;
                        // animation-timing-function: ease-in;
                        transform: scale(1);
                        opacity: 1;
                        transition: transform 1s ease 5s, opacity 1s ease 5s;
                    }

                    .boxWrap {
                        transform: scale(1);
                        opacity: 1;
                        transition: transform 2s ease 1s, opacity 1s ease 1s;
                        // animation-direction:reverse;
                    }

                    .phoneWrap {
                        transform: translate(60vw, 25vh) scale(0.4);
                        opacity: 1;
                        transition: transform 2s ease 4s, opacity 1s ease 5s;
                        left: -30vw;
                        top: -30vw;
                    }

                    .birthdayTextWrap {
                        position: absolute;
                        opacity: 1;
                        transform: translate(20%, 75%) scale(0.9);
                        transition: transform 2s ease 3s, opacity 1s ease 2s;
                        top: -50%;
                        left: -50%;
                    }
                }
            }
        }
    }



    //%%%%%%%%%%%%%%%%%%%%%%%%%%% Css Start Here%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

    //contactBody page
    &.contactBody {

        .mobile-container {
            display: block;
            max-height: calc(100vh - 70px);
            overflow: scroll;

            h1 {
                color: green;
                transition: color 10s ease;

            }

            .progressBarWrapper {
                max-width: 360px;
                margin: auto;
                padding: 40px;
                padding-bottom: 0;

                ul {
                    display: flex;
                    justify-content: space-between;
                    margin-block-start: 0;
                    margin-block-end: 0;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    padding-inline-start: 0;

                    li {
                        width: 14px;
                        height: 14px;
                        background: none;
                        border-radius: 50%;
                        list-style: none;
                        border: 2px solid;
                        border-color: #fff;

                        &.doneProg {
                            background: #f3cb7f;
                            border-color: #f3cb7f;
                            transition: background 2s ease, border-color 1s ease;
                        }

                        &.activeProg {
                            border-color: #f3cb7f;
                            transition:  border-color 1s ease;

                        }
                    }
                }
            }


            .middleContent {
.nudge-popup{
    font-size: 16px;
    border-radius: 16px;
    padding: 10px;
    background: #e7b464;
    font-family: Gibson;
    color: #340073;
    position: absolute;
    left: 0;
    margin: 22px;
    max-width: 320px;
    min-width: 320px;
    z-index: 999;
    transform: translate(-55%);
    left: 50%;
}


                .firstMainContainer,
                .secondMainContainer,
                .thirdMainContainer,
                .fourthMainContainer,
                .fifthMainContainer,
                .sixthMainContainer,
                .seventhMainContainer {
                    max-width: 360px;
                    margin: auto;
                    &.hiddenCont {
                        display: none;
                        opacity: 0;
                        transition: transform 10s ease, opacity 2s ease;

                    }

                    &.activeCont {
                        display: block;
                        opacity: 1;
                        transition: all 1s ease;
                    }

                    .headText{
                        text-align: center;
                        font-family: 'Gibson';
                        font-weight: 600;
                        font-size: 16px;
                        letter-spacing: 1.5px;
                        margin-bottom: 10px;
                    }
                    .headTextTop{
                        text-align: center;
                        font-family: GibsonLight;
                        font-weight: bolder;
                        font-size: 16px;
                        position: relative;
                        top: 26px;
                        letter-spacing: 2px;
                    }
                }

                .fourthMainContainer,
                .secondMainContainer,
                .thirdMainContainer,
                .firstMainContainer{
                .imgWallpaperWrap{
                    opacity: 0;
                    max-width: 360px;
                    margin: auto;
                    &.animate{
                        opacity: 1;
                        max-width: 360px;
                        margin: auto;
                        transition: all 2s ease;
                    }
                }
              
          
             }

             .firstMainContainer{

             }
             .fourthMainContainer,
             .thirdMainContainer,
             .secondMainContainer{
                .mainDetails{
                margin-top: -40px;
                }
            
             }

.fourthMainContainer{
    .imgWallpaperWrap{
        margin-top: 50px !important;
    }
    .mainDetails{
        max-height: calc(100vh - 71vh);
        overflow: scroll;
    }
}

.fifthMainContainer{
    .songWrap{
        background: #fff;
    color: #340073;
    font-size: 20px;
    border-radius: 16px;
    padding: 20px;
    padding-bottom: 0;
    font-family: 'Gibson';
    margin: auto;
    margin-top: 60px;
    max-height: calc(100vh - 300px);
    overflow: scroll;
    max-width: 360px;
    min-height: calc(100vh - 300px);

//     ::-webkit-scrollbar-track {max-height: 50%; height: 50%;
//         // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
//         background-color: transparent;
//         border-radius: 10px;}
//     &::-webkit-scrollbar
// {
// 	width: 5px;
//     background-color: transparent;
// }
// &::-webkit-scrollbar-thumb
// {
//     border-radius: 10px;
//     background-color: #e7b464;
// }
    
    
    
    }
}


.seventhMainContainer{
    .songShare{
        border: 1px solid gold;
        border-radius: 16px;
        max-width: 290px;
        margin: auto;
        margin-top: 40px;
        padding: 40px;
        // min-height: calc(100vh - 300px);
        // max-height: calc(100vh - 300px);
        overflow: hidden;

        .birthDayW1{
            color: #e7b464;
            font-family: DairyMilkFontMedium;
            font-size: 16px;
            text-align: center;
        }
.birthDayW2{
    color: #e7b464;
    font-family: DairyMilkFontMedium;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}
.bgLast{
    background: url(../assets/img/wallpaper-splash.png) no-repeat;
    height: 187px;
    margin: 20px 0;
    background-position: center;
    background-size: contain;
}
.msgBith{
    font-size: 21px;
    font-family: 'GibsonSemibold';
    text-align: center;
}
.buttnShar{
    position: relative;
    display: flex;
    bottom: -41px;
    max-width: 365px;
    background: transparent;
    left: -40px;
    min-width: 288px;
    justify-content: space-between;
    .commonBtn{
        border-radius: inherit;
        min-width: 142px;
        &.bt1{
            border-bottom-left-radius: 16px;
        }
        &.bt2{
            border-bottom-right-radius: 16px;
        }
    }
}
    }
}


            }

            // middle content end here








        }

        //css for animation/transition after loaded class add
        &.loaded {
            .mobile-container {}
        }
    }



    //%%%%%%%%%%%%%%%%%%%%%%%%%%% Css Start Here%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

    //infoBody page
    &.infoBody {
        .mobile-container {
            display: block;
            max-height: calc(100vh - 70px);
            overflow: scroll;

            h1 {
                color: yellow;
            }
        }
    }


    //%%%%%%%%%%%%%%%%%%%%%%%%%%% Css Start Here%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

    //designSystem page
    &.designSystem {
        .mobile-container {
            display: block;
            max-height: calc(100vh - 70px);
            overflow: scroll;

            h1 {
                color: yellow;
            }
        }
    }


}




//%%%%%%%%%%%%%%%%%%%%%%%%%%% Css Start Here%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

//css for background bubble animations

#background-wrap {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;


    /* OBJECTS */

    .bubble {
        opacity: 0.05;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

        height: 200px;
        position: absolute;
        width: 200px;

        &:after {
            background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
            /* FF3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(70%, rgba(255, 255, 255, 0)));
            /* Chrome,Safari4+ */
            background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
            /* Chrome10+,Safari5.1+ */
            background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
            /* Opera 12+ */
            background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
            /* IE10+ */
            background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
            /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1);
            /* IE6-9 fallback on horizontal gradient */

            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;

            -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
            -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
            box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

            content: "";
            height: 180px;
            left: 10px;
            position: absolute;
            width: 180px;
        }

        &.x1 {
            -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
            -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
            animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
            left: -5%;
            top: 5%;
            -webkit-transform: scale(0.6);
            -moz-transform: scale(0.6);
            transform: scale(0.6);
        }

        &.x2 {
            -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
            -moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
            animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
            left: 5%;
            top: 80%;
            -webkit-transform: scale(0.4);
            -moz-transform: scale(0.4);
            transform: scale(0.4);
        }

        &.x3 {
            -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
            -moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
            animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
            left: 10%;
            top: 40%;
            -webkit-transform: scale(0.7);
            -moz-transform: scale(0.7);
            transform: scale(0.7);
        }

        &.x4 {
            -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
            -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
            animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
            left: 20%;
            top: 0;
            -webkit-transform: scale(0.3);
            -moz-transform: scale(0.3);
            transform: scale(0.3);
        }
    }

}


/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }

    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }

    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }

    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}




//%%%%%%%%%%%%%%%%%%%%%%%%%%% Header Css Here%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

$color_1: #fff;
$color_2: #999;
$color_3: #ccc;
$background-color_1: #330072;
$background-color_2: rgba(0, 0, 0, 0.3);
$background-color_3: transparent;

header#nav {
    position: fixed;
    top: -88px;
    z-index: 100;
    width: 100%;
    background-color: $background-color_1;
    height: 75px;

    #menuWrapper {
        height: auto;
        display: block;
        background: url(../assets/img/1bb.png);
        background-color: #2a005a;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: overlay;
        position: relative;
        opacity: 1;
        left: 40%;
        top: -30px;
    }


}

.contained {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 13px;
}

#logo {
    display: inline-block;
    min-width: 100%;
    margin-right: 30px;
    height: 70px;
    padding: 0 0 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    background: #330072;
    transition: all .9s ease;

    a {
        min-height: 68px;
        max-width: 250px;
        display: block;
        background: url(./img/logo.png) no-repeat;
        background-position: center;
        background-size: contain;
        //background-image: url("./img/birthdayLogo.png") no-repeat;
    }
}



#hamburger {
    display: none;
    width: 25px;
    height: 24px;
    position: fixed;
    right: 15px;
    top: 24px;
    cursor: pointer;

    >span {
        background: #fff;
        display: block;
        width: 100%;
        height: 3px;
        position: relative;
        margin-top: 3px;
        color: $color_1;
        transition: all .3s ease;
    }

    &:hover {
        >span {
            background: rgba(250, 250, 250, 0.5);

            &::after {
                background: rgba(250, 250, 250, 0.5);
            }

            &::before {
                background: rgba(250, 250, 250, 0.5);
            }
        }
    }
}

#close {
    position: fixed;
    top: 16px;
    right: 13px;
    width: 30px;
    height: 30px;
    z-index: 1200;
    display: none;
    cursor: pointer;

    >span {
        content: "";
        display: block;
        width: 4px;
        height: 100%;
        background: #eee;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        transform: rotate(45deg);

        &::after {
            content: "";
            display: block;
            width: 4px;
            height: 100%;
            background: #eee;
            position: absolute;
            left: 50%;
            margin-left: -3px;
            transform: rotate(45deg);
            transform: rotate(-90deg);
        }
    }

    &:hover {
        >span {
            background: #ccc;

            &::after {
                background: #ccc;
            }
        }
    }
}

@media only screen and (min-width: 320px) {
    #hamburger {
        display: block;
        transition: all .3s ease;
        transform: translateY(0);
    }

    #close {
        transition: all .3s ease;
        transform: translateX(50px);
        display: block;
        // border: 2px solid #fff;
        border-radius: 50%;
        transition: transform 1s ease, border 2s ease;
    }

    header#nav {
        position: fixed;
        //   top: 0;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 1005;
        height: 50px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        background-color: $background-color_1;

        ul {
            display: none;
            opacity: 0;
        }

        .contained {
            height: 50px;
        }
    }

    header#nav.showNav {
        background-color: transparent;
        height: calc(100%);

        #menuWrapper {
            //   height: 300px;
            //   overflow-y: auto;
        }

        .contained {
            height: auto;
        }

        #logo {
            // display: none;
            background: #14111799;
            backdrop-filter: blur(5px);
            height: 100vh;

            img {
                // backdrop-filter: blur(5px);
            }
        }

        //   .container {
        //       height: auto;
        //       float: left;
        //       display: block;
        //       width: 100%;
        //   }
        ul {
            opacity: 1;
            display: block;
            padding-top: 16vh;
            color: #fff;
            list-style: none;
            padding-left: 0;

            li {
                text-align: right;
                width: 215px;
                max-width: 215px;
                font-family: "Gibson";
                font-size: 16px;
                font-weight: 900;
                // border-top: 3px solid gray;
                padding: 31px 18px;
                box-shadow: inset #32016a 0 -2px 0 0px, inset #52208a 0 -4px 0 0px;

                &:nth-child(1) {
                    box-shadow: inset #32016a 0 -2px 0 0px, inset #52208a 0 -4px 0 0px, #32016a 0 -2px 0 0px, #52208a 0 -4px 0 0px;
                }
            }

            // position: static;
        }

        #hamburger {

            transform: translateX(50px);
        }

        #close {

            transform: translateX(0);
        }
    }

    header {
        .contained {
            padding-top: 5px;
        }
    }
}




//%%%%%%%%%%%%%%%%%%%%%%%%%%% Css Here%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

//Footer css here
.mainFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -24px;
    text-align: center;
    padding-bottom: 16px;
    padding-top: 16px;

    &.hideFooter {
        display: none;
    }

    &.footerBg {
        background: #00000017;
        backdrop-filter: blur(10px);
    }

    .firstMainContBtn,
    .secondMainContBtn,
    .thirdMainContBtn,
    .fourthMainContBtn,
    .fifthMainContBtn,
    .sixthMainContBtn,
    .seventhMainContBtn {
        &.btnBlockShow {
            display: block;
            opacity: 1;
            transition: opacity 1s ease;
        }

        &.btnBlockHide {
            display: none;
            opacity: 0;
            transition: opacity 1s ease;
        }
    }


}






//%%%%%%%%%%%%%%%%%%%%%%%%%%% Css Here%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

//Modal css here
// The Modal (background)
.main_modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border-radius: 16px;
        width: 65%;
        display: none;
        transform: translate(-50%);
        position: absolute;
        left: 50%;
        top: 40%;
        text-align: center;
        font-family: 'GibsonSemibold';
        font-size: 22px;

        .close {
            color: #340073;
            float: right;
            font-size: 28px;
            font-weight: bold;

            &:hover,
            &:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        }
        .container{
            color: #340073;
            .alertOtpValidation{
                margin-bottom: 14px;
            }
            .resendOtp{
                text-align: right;
                margin-bottom: 10px;
                a{
                  
                    font-size: 14px;
                }
            }
            .formOtp{
                .otpInput{
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    border-radius: 8px;
                    outline: none;
                    border: none;
                    background: #340073;
                    margin-bottom: 6px;
                    color: #fff;
                }
                    
            }
        }
    }
}












// form input {
//     display: inline-block;
//     width: 50px;
//     height: 50px;
//     text-align: center;
// }


.mainDetails{
    margin-top: 12px;

    .inputCommon{
        border-radius: 22px;
        outline: none;
        border: none;
        font-style: normal;
        font-size: 18px;
        padding: 4px 16px 8px;
        font-family: 'GibsonRegular';
        color: #340073;
        font-weight: normal;
        letter-spacing: 1px;
        margin-bottom: 12px;
        width: 100%;
        &::placeholder{
            color: #a69f9f;
            font-size: 16px;
            font-family: 'GibsonLight';
            font-weight: 700;
            
        }
    }
    .inputUser{
        
    }
    .mobileNo{}
.checkboxWrap1{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    .checkboxCD{
        margin-right: 16px;
    }
.checkboxLable{
    font-size: 12px;
    font-family: "GibsonLight";
    letter-spacing: 0px;
}
.round {
    position: relative;
    max-width: 13px;
    max-height: 13px;
    margin-right: 16px;
  
    label {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 50%;
      cursor: pointer;
      height: 16px;
      left: 0;
      position: absolute;
      top: 0;
      width: 16px;
  
      &:after {
        border: 2px solid #340073;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 2px;
    transform: rotate(-45deg);
    width: 10px;
      }
    }
  
    input[type="checkbox"] {
      visibility: hidden;
  
      &:checked + label {
        background-color: #e1af6c;
    border: 1px solid #e1af6c;
  
        &:after {
          opacity: 1;
        }
      }
    }
  }

  
}
    .selectBoxC{
        border-radius: 16px;
        width: 100%;
        outline: none;
        border: none;
        height: 36px;
        font-family: 'GibsonRegular';
        color: #340073;
        font-size: 18px;
        padding: 0px 18px;
        font-weight: 700;
        margin-bottom: 8px;

        option{
            font-family: 'GibsonRegular';
            color: #340073;
            font-size: 18px;
            font-size: 18px;
        padding: 0px 18px;
        font-weight: 700;
        }
    }
}